/******************************Start Global Rules************************** */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}
:root{
   --main-color :#2196f3;
   --main-color-alt :#1787e0;
   --red-color: #f44336;
   --orang-color:#f59e0b;
   --grenn-color:#22c55e;
   --grey-color:#888;
   --pragraf-color :#777;
   --border-color :#dff0ff;
   --backgroud-color:#ececec;
   --main-transition :0.5s;
   --hover-transition :0.5s;
   --padding-section :100px;
}
body{
   font-family: 'Cairo' sans-serif;
   font-family: "Cairo", sans-serif;
   margin: 0;
}
*:focus{
  outline: none;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--main-color-alt);
}
.btn{
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
textarea:focus::placeholder{
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  opacity: 0;
 }
 input:focus::placeholder{
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  opacity: 0;
 }
/******************************End global ruoles******************************/
/*******************************Start component*******************************/
.main-titel{
  margin: 20px 20px 40px
}
.main-titel h1{
  margin-top: 0;
}
.main-titel span{
  position: relative;
  display: block;
  width: 120px;
  height: 3px;
  background-color: white;
  margin: 0;
}
.main-titel span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 3px;
  background-color: var(--grey-color);
}
.btn:hover{
  opacity: 0.8;
}
@media (max-width : 768px) {
  .mobel-center{
    text-align: center;
  }
}
@media (max-width : 768px) {
  .mobel-hide{
    display: none;
  }
}
/*******************************End component******************************  */

/******************************Start animation******************************/
@keyframes blue-color{
  from{
    background-color: var(--main-color);
  }to{
    background-color: white;
  }
}
/******************************Start animation******************************/


.page{
  display: flex;
  background-color: #dff0ff;
  min-height: 100vb;
}
/******************************Start Sidebar******************************/
.sidebar{
  position: relative;
  width: 250px;
  box-shadow: 0 0 10px #ddd;
  background: white;
  padding: 20px;
}
.sidebar h3{
  position: relative;
  margin-top: 0;
  text-align: center;
  margin-bottom: 50px;
}
.sidebar h3::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 80px;
  height: 2px;
  transform: translateX(-50%);
  background-color: black;
}

.sidebar a{
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 14px;
  border-radius: 6px;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.sidebar a:hover,
.sidebar a.active{
 background-color: #f6f6f6;
}
.sidebar i{
  margin-right: 15px;
}
@media(max-width :768px){
  .sidebar{
    width: 68px;
    padding: 10px;
  }
  .sidebar span{
    display: none;
  }
  .sidebar h3{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .sidebar h3::before{
    display: none;
  }
}
/******************************End Sidebar******************************/
.content{
  width: 100%;
}
/******************************End Sidebar******************************/
.header{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  box-sizing: 0 0 10px #ddd;

}
.header .search{
  position: relative;
}
.header .search::before{
  content: '\f002';
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  font-size: 14px;
  color: var(--grey-color);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

}
.header .search input[type = 'text']{
  width: 160px;
  padding: 15px;
  padding-left: 30px;
  border: 1px solid #ccc;
  border-radius:10px;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.header .search input[type = 'text']:focus{
  width: 200px;  
}
.header .search input[type = 'text']:focus::placeholder{
  opacity: 0;
  transition:var(--main-transition);
  -webkit-transition:var(--main-transition);
  -moz-transition:var(--main-transition);
  -ms-transition:var(--main-transition);
  -o-transition:var(--main-transition);
}
.header .icons{
  display: flex;
  align-items: center;
}
.header .icons span{
  position: relative;
}
.header .icons span::before{
  content: '';
  position: absolute;
  top: 5px;
  right: 13px;
  width: 10px;
  height: 10px;
  background: var(--red-color);
  border-radius: 50%;
}
.header .icons span i{
 padding: 20px;

}

.header .icons img{
  max-width: 100%;
  width: 30px;
}

/******************************End Sidebar******************************/

/******************************Start wrapper******************************/
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media(max-width : 768px){
  .wrapper{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/******************************End wrapper******************************/

/******************************Start Welcome******************************/
.Welcome{
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.Welcome .intro{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(238 238 238 / 46%);
  padding: 20px;
}
.Welcome .intro h2{
  margin: 0;
}
.Welcome .intro p{
  margin-top: 5px;
  color: var(--grey-color);
}
@media(max-width : 768px){
  .Welcome .intro h2{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
.Welcome  .intro img{
  max-width: 100%;
  width: 170px;
  margin-bottom: -10px;
}
@media(max-width : 768px){
  .Welcome  .intro img{
    display: none;
  }
}
.Welcome .body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
@media(max-width : 768px){
  .Welcome .body{
    display: block;
  }
}
.avater{
  width: 64px;
  height: 64px;
  margin-left: 26px;
  margin-top: -20px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 5px #ddd;
}
.Welcome .body div span{
  display: block;
  color: var(--grey-color);
  padding: 10px;
}
.porfile{
  display: flex;
  justify-content: end;
  margin-bottom: 60px;
  padding: 10px;
}
.porfile a{
  width: fit-content;
  color: white;
  background-color: var(--main-color);
  padding-left: 6px;
  padding: 5px 20px;
  border-radius: 5px;
}
@media(max-width : 768px){
  .porfile a{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
/******************************End Welcome******************************/

/******************************Start Quick-Draft ******************************/
.quick-draft{
  background: white;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
 
}
.quick-draft .info{
  display: flex;
  flex-direction: column;
}
.quick-draft h3{
  font-weight: bold;
}
.quick-draft p{
  color: var(--grey-color);
}
.quick-draft form input[type = 'text']{
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  background-color: #eee;
  padding: 8px;
  width: 100%;
  color: var(--main-color);
}
.quick-draft form input[type = 'text']:focus::placeholder{
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  opacity: 0;
}
.quick-draft form textarea{
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  background-color: #eee;
  padding: 8px;
  width: 100%;
  min-height: 180px;
  color: var(--main-color);
  resize: none;
}
.quick-draft form textarea:focus::placeholder{
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  opacity: 0;
  resize: none;
}
.quick-draft form input[type = 'submit']{
  display: block;
  width: fit-content;
  cursor: pointer;
  color: white;
  background-color: var(--grenn-color);
  padding-left: 6px;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  margin-left:auto ;
}
@media(max-width : 768px){
  .quick-draft form input[type = 'submit']{
     margin: 0 auto
  }
}
/******************************End Quick-Draft ******************************/
/***************************** Start Yearly Targets  ***********************/
.yearly{
  background: white;
  padding: 15px;
  border-radius: 6px;
}
.yearly h3{
  margin: 0;
  font-weight: bold; 
}
.yearly p{
  margin-top: 20px;
  color: var(--grey-color);
}
.yearly .box{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.yearly .box i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin-right: 15px;
  border-radius: 2px; 
}
.yearly .box.Money i{
  background-color: rgb(34 197 94 / 20%);
  color: var(--grenn-color);

}
.yearly .box.code i{
  background-color: rgb(245 158 11 / 20%);
  color: var(--orang-color);
}
.yearly .box.Team i{
  background-color: rgb(0 117 255 / 20%);
  color: var(--main-color);

}
.yearly .box .details{
  position: relative;
  width: 100%;
}
.yearly .box .details h4{
  margin: 0;
}

.yearly .box .details p{
  display: block;
  margin-top: 5px;
  font-weight: bold;
}
.yearly .box .details span{
  display: block;
  position: relative;
  height: 3px;
}
.yearly .box.Money .details span{
  background-color: var(--grenn-color);
}
.yearly .box.code .details span{
  background-color: var(--orang-color);
}
.yearly .box.Team .details span{
  background-color: var(--main-color);
}
.yearly .box .details span::before{
  content: attr(data-prog);
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
}
.yearly .box.Money .details span::before{
  background-color: var(--grenn-color);
}
.yearly .box.code .details span::before{
  background-color: var(--orang-color);
}
.yearly .box.Team .details span::before{
  background-color: var(--main-color);
}
.yearly .box .details span::after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px;
  right: -9px;
  top: -16px;
}
.yearly .box.Money .details span::after{
  border-color: var(--grenn-color) transparent transparent transparent;
}
.yearly .box.code .details span::after{
  border-color: var(--orang-color) transparent transparent transparent;
}
.yearly .box.Team .details span::after{
  border-color: var(--main-color) transparent transparent transparent;
}
/***************************** End Yearly Targets  ***********************/
/***************************** Start Tickets Statistics***********************/
.tickets{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.tickets h3{
  font-weight: bold;
  margin: 0;
}
.tickets p{
  margin-top: 5px;
  color: var(--grey-color);
}
.tickets .content{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}
.tickets .box{ 
   padding: 20px; 
   border-radius: 6px; 
  -webkit-border-radius:6px;
  -moz-border-radius: 6px;
  -ms-border-radius:  6px;
   -o-border-radius: 6px;
   color: var(--grey-color);
   font-size: 14px;
   border: 1px solid #eee;
   width: calc(50% - 10px);
}
@media(max-width :768px){
  .tickets .box{ 
    width: 100%;
  }
}
.tickets .box i{ 
  display: block;
  color: var(--orang-color);
  margin-bottom: 10px;
}
.tickets .box .blue{ 
  display: block;
  color: var(--main-color);
  margin-bottom: 10px;
}
.tickets .box .orange{ 
  display: block;
  color: var(--orang-color);
  margin-bottom: 10px;
}
.tickets .box .green{ 
  display: block;
  color: var(--grenn-color);
  margin-bottom: 10px;
}
.tickets .box .red{ 
  display: block;
  color: var(--red-color);
  margin-bottom: 10px;
}
.tickets .box span:first-of-type{ 
  display: block;
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}
/***************************** End Tickets Statistics***********************/
/***************************** Start  Latest News***********************/
.news{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}
.news h3{
  margin-top: 0;
  font-weight: bold;
}
.news .box{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee ;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.news .box:last-of-type{
  border: none;
}
@media (max-width : 768px) {
  .news .box{
    flex-direction: column;
  }
  
}
.news .box img{
  max-width: 100%;
  width: 100px;
  margin-right: 18px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
@media (max-width : 768px) {
  .news .box img{
    margin-bottom: 10px ;
  }
  
}
.news .box  .text p{
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
@media (max-width : 768px) {
  .news .box  .text p{
    text-align: center;
  }
  
}
.news .box  .text span{
  display: block;
  margin-top: 6px;
  color: var(--grey-color);
}
@media (max-width : 768px) {
  .news .box  .text span{
    margin-bottom: 10px;
  }
}
.news .box .details{
  margin-left: auto;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #eee;
  font-size: 13px;
}
@media (max-width : 768px) {
  .news .box .details{
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
}
/***************************** End  Latest News***********************/
/***************************** Start  tasks ***********************/
.tasks{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}
.tasks h3{
  margin-top: 0;
  font-weight: bold;
}
.tasks .box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.tasks .box:last-of-type{
  border: none;
}
.tasks .box .text span:first-child{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.tasks .box .text span:last-child{
  color: var(--grey-color);
  font-size: 18px;
}
.tasks .box .done{
  opacity: 0.3;
}
.tasks .box .done span{
  text-decoration: line-through;
}
.tasks .box i{
  display: block;
  width: fit-content;
  cursor: pointer;
  height: 0;
}
.tasks .box i:hover{
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  color: var(--red-color);
}
/***************************** End  tasks ***********************/
/*****************************Start Top Search Items ***********************/
.items-search{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}
.items-search h3{
  font-weight: bold;
  margin: 0;
}
.items-search .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-search  .content  ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.items-search  .content  ul li{
  margin:  20px;
  font-size: 17px;
}
.items-search .content  .titel{
  color: var(--grey-color);

}
.items-search  .content  ul:last-child li:not(.titel){
  background-color: rgb(238, 238, 238);
  padding: 3px 4px;
  width: fit-content;
  border-radius: 4px;
  margin-left: auto;
  font-size: 13px;
}
/*****************************End Top Search Items ******************************/
/****************************** Start Latest Uploads File*********************** */
.file{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.file h3{
  margin-top:0 ;
  font-weight: bold
}
.file .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.file .box:last-of-type{
  border: none;
}
.file .box .info{
  display: flex;
  align-items: center;
}
.file .box img{
  max-width: 100%;
  width: 30px;
  margin-right: 20px;
}
@media (max-width : 768px) {
  .file .box img{
    margin-right: 10px;
  }
}
.file .box .info span:first-of-type{
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
.file .box .info  span:last-child{
  color: var(--grey-color);
}
.file .box .details span{
  padding: 0px 13px;
  font-size: 13px;
  background-color: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (max-width : 768px) {
  .file .box .details span{
    padding: 0px 7px;
    font-size: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
}
/****************************** End Latest Uploads File*********************** */
/****************************** Start Last Project Progress******************  */
.project{
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.project h3{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
}
.project  ul{
 position: relative;
}
.project  ul::before{
  content: '';
  position: absolute;
  display: block;
  margin-left: 6px;
  height: 100%;
  width: 3px;
  background-color: var(--main-color);
}
.project ul li{
  margin: 25px;
}
.project ul li::before{
  content: '';
  position: absolute;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  display: block;
  background-color: white;
  outline: 2px solid var(--main-color);
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}
.project ul li.bone::before{
  background-color: var(--main-color);
}
.project ul li.curent::before{
  animation: blue-color 0.9s infinite;
  -webkit-animation: blue-color 0.8s infinite alternate;
}
.project img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170px;
  opacity: 0.3;
}

/******************************  End Last Project Progress******************** */
/******************************  Start reminders***************************** */
.reminders{
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.reminders h2{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
}
.reminders .box{
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.reminders .box > span{
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 0;
  top: 11px;
}
.reminders .box > span.blue{
  background-color: var(--main-color);
}
.reminders .box > span.red{
  background-color: var(--red-color);
}
.reminders .box > span.green{
  background-color: var(--grenn-color);
}
.reminders .box > span.orange{
  background-color: var(--orang-color);
}
.reminders .box > span::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 43px;
  left: 25px;
  top: -13px;
}
.reminders .box > span.blue::before{
  background-color: var(--main-color);
}
.reminders .box > span.red::before{
  background-color: var(--red-color);
}
.reminders .box > span.green::before{
  background-color: var(--grenn-color);
}
.reminders .box > span.orange::before{
  background-color: var(--orang-color);
}
.reminders .box .details{
  margin-left: 12px;
}
.reminders .box .details span:first-child{
  display: block;
  font-weight: 500;
  margin-bottom: 3px;
  font-size: 17px;
  margin-left: 30px;
}
.reminders .box .details span:last-child{
  color: var(--grey-color);
  margin-left: 30px;
  font-size: 13px;
}
/******************************  End reminders******************************** */
/******************************* Start Latest Post****************************** */
.post{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}
.post h3{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
}
.post .box .info{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;

}
.post .box .info img{
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.post .box .info .text span:first-child{
   display: block;
   font-weight: 500;
   margin-bottom: 5px;
}
.post .box .info .text span:last-child{
  color: var(--grey-color);
  
}
.post .box p {
  line-height: 1.8;
  padding-bottom: 60px;
  border-bottom: 1px solid #eee;
}
.post .box .icons{
  display: flex;
  justify-content: space-between;
}
.post .box .icons span{
  color: var(--grey-color);
}

/*******************************End Latest Post *******************************/
/********************************  Start Social Media Stats******************* */
.social{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  margin: 0;
}
.social h2{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
}
.social .box{
  position: relative;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  background-color: rgb(29 161 242 / 20%);
  margin-bottom: 10px;
}
.social .box  i{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 52px;
  top: 0;
  left: 0;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.social .box.facebook  i{
  background-color: #1877f2;
}
.social .box.twitter  i{
  background-color: #1da1f2;
}
.social .box.youtube  i{
  background-color: #ff0000;
}
.social .box.linkedin   i{
  background-color: #0077b5;
}
.social .box  i:hover{
  transform: rotate3d(1, 1, 1, -10deg);
}

.social .box.facebook  span{
  color: #1877f2;
}
.social .box.twitter  span{
  color: #1da1f2;
}
.social .box.youtube  span{
  color: #ff0000;
}
.social .box.linkedin  span{
  color: #0077b5;
}
.social .box a{
  color: white;
  background-color: var(--main-color);
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 13px;
}
.social .box.facebook  a{
  background-color: #1877f2;
}
.social .box.twitter  a{
  background-color: #1da1f2;
}
.social .box.youtube a{
  background-color: #ff0000;
}
.social .box.linkedin  a{
  background-color: #0077b5;
}

/********************************  Start Social Media Stats*************************** */

/****************************************************  End Index  Page********************************* */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */

/****************************************************Start Sttings******************************************* */
/* Start Sttings Component */
/* Start toggle-check v1 */
.toggle-check{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-swetch{
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
@media (max-width : 768px){
  .toggle-swetch{
    width: 40px;
    height: 17px;
  }
}
.toggle-swetch::before{
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width : 768px){
  .toggle-swetch::before{
    width: 13px;
    height: 13px;
    top: 2px;
    left: 2px;
  }
}
.toggle-check:checked + .toggle-swetch{
  background-color: var(--main-color) ;
}
.toggle-check:checked +.toggle-swetch::before{
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
@media (max-width : 768px){
  .toggle-check:checked +.toggle-swetch::before{
    left: 25px;
  }
}
/* End toggle-check v1 */
/* End sttings component */
/****************************************************Start Site Control******************************************* */
.settting-page{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
  margin-right: 15px;
  margin-left: 15px;
  gap: 20px;
}
@media(max-width : 768px){
  .settting-page{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
.settting-page .control {
  background-color: white;
  padding: 20px;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.control h2{
  margin: 0;
  font-weight: bold;
}
.control p{
  margin: 20px 0;
  color: var(--grey-color);
}
.control .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.control .info .text h4{
  font-weight: normal;
  font-size: 20px;
}
.control textarea{
  width: 100%;
  min-height:  190px;
  border: 1px solid #ccc;
  resize: none;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/****************************************************End Site Control******************************************* */

/****************************************************Start General Info******************************************* */
.general{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.general h2{
  margin: 0;
  font-weight: bold;
}
.general p{
  margin: 20px 0;
  color: var(--grey-color);
}
.general form{
  display: flex;
  flex-direction: column;
}
.general form input[type = 'text']{
  margin-bottom: 30px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.general form .email input[type = 'text']{
  cursor: no-drop;
  width: 85%;
  background-color: #ddd;
}
@media (max-width : 768px){
  .general form .email input[type = 'text']{
     width: 100%;
  }
}
.general form .email a{
  width: 15%;
  color: var(--main-color);
  font-size: 18px;
  padding: 10px;
}
@media (max-width : 768px){
  .general form .email a{
    text-align: center;
     width: 100%;
  }
}
/****************************************************End General Info******************************************* */
/***************************************************** Start Security Info************************************** */
.security{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.security h2{
  margin: 0;
  font-weight: bold;
}
.security .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom:30px ;
  padding-top:20px ;
  border-bottom: 1px solid #eee;
}
.security .box:last-of-type{
  border-bottom: none;
}
.security .box .text h3{
  display: block;
  font-weight: normal;
  margin: 0;
}
.security .box .text p{ 
  color: var(--grey-color);
  margin: 10px 0 0 0;
}
.security .box a{
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (max-width : 768px){
  .security .box a{
    padding: 5px 10px;
    font-size: 15px;
  
  }
}
.security .box a.brown{

  background-color: var(--red-color);
}
/***************************************************** End Security Info *****************************************/

/***************************************************** Start Social Info *****************************************/
.social-setting{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.social-setting h2{
  margin: 0;
  font-weight: bold;
}
.social-setting p{
  display: block;
  color: var(--grey-color);
 margin-bottom: 20px;
}

.social-setting .box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

}
.social-setting .box i{
  height: 40px;
  width: 40px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-color);
  border-right:none ;
  border-radius: 6px 0 0 6px ;
  -webkit-border-radius: 6px 0 0 6px ;
  -moz-border-radius: 6px 0 0 6px ;
  -ms-border-radius: 6px 0 0 6px ;
  -o-border-radius: 6px 0 0 6px ;
}
.social-setting .box input[type = 'text']{
  width: 100%;
  border: 1px solid #ddd;
  height: 40px;
  padding-left: 15px;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}
.social-setting .box.twitter:focus-within i{
  color: #1da1f2 ;
}
.social-setting .box.facebook:focus-within i{
  color: #1877f2 ;
}
.social-setting .box.linkedin:focus-within i{
  color: #0077b5 ;
}
.social-setting .box.youtube:focus-within i{
  color: #ff0000 ;
}
/***************************************************** End Social Info *****************************************/
/*************************************************** Start Widgets Control***************************************/
.widgets-control .body input[type = 'checkbox']{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.widgets-control{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.widgets-control h2{
  margin: 0;
  font-weight: bold;
}
.widgets-control p{
  color: var(--grey-color);
  margin: 10px 0 30px 0;
}
.widgets-control .body {
  margin-bottom: 20px;
}
.widgets-control .body label{
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.widgets-control .body label::before{
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 7px;
  border: 2px solid var(--grey-color);
}
.widgets-control .body label::after{
    position: absolute;
    content: '\f00c';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    left: 9px;
    font-size: 13px;
    background-color: #0075ff;
    color: white;
    transform:scale(0) rotate(360deg);
    -webkit-transform:scale(0) rotate(360deg);
    -moz-transform:scale(0) rotate(360deg);
    -ms-transform:scale(0) rotate(360deg);
    -o-transform:scale(0) rotate(360deg);
    transition:var(--hover-transition) ;
    -webkit-transition:var(--hover-transition) ;
    -moz-transition:var(--hover-transition) ;
    -ms-transition:var(--hover-transition) ;
    -o-transition:var(--hover-transition) ;
}
.widgets-control .body input[type = 'checkbox']:checked + label::after{
  transform:scale(1) ;
  -webkit-transform:scale(1) ;
  -moz-transform:scale(1) ;
  -ms-transform:scale(1) ;
  -o-transform:scale(1) ;
}
.widgets-control .body input[type = 'checkbox']:checked + label::before{
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
}
/***************************************************End Widgets Control*************************************/
/**************************************************Start Backup Manager********************************* */
.backup input[type = 'radio']{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.backup{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
} 
.backup h2{
  margin: 0;
  font-weight: bold;
}
.backup p{
  color: var(--grey-color);
  margin: 10px 0 15px 0;

}
.backup .box{
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.backup .box:last-child{
  border-bottom: 1px solid #eee;

}
.backup label{
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
.backup label::before{
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid var(--grey-color);
  left: 0;
}
.backup label::after{
  position: absolute;
  content: '';
  left: 1px;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 7.5px;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.backup input[type ='radio']:checked + label::after{
  width: 14px;
  height: 14px;
  background-color: var(--main-color);
}
.backup .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width : 768px){
  .backup .body {
    flex-direction: column;
  }
}
.backup .body .content{
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #eee;
  height: 100px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.backup .body .content i{
  display: block;
  margin-bottom: 5px;
 }
 .backup .body .content span{
  display: block;
 }
 .backup .body .content:hover {
  border: 1px solid var(--main-color);
 }
 .backup .body .content:hover span {
  color: var(--main-color);
 }
 .backup .body .content:hover i {
  color: var(--main-color);
 }

/************************************************* End Backup Manager ***********************************/

/****************************************************  End Sttings  Page********************************* */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/****************************************************Start Porfile Page************************************** */
.profile{
margin-left: 15px;
margin-right: 15px;
}
@media (max-width : 768px){
  .profile{
    margin-left: 10px;
    margin-right: 10px;
    }
}
.profile .avter-box{
  padding: 10px;
  border-right: 1px solid #eee;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profile .avter-box:last-of-type{
  border: none;
}
@media (max-width :768px){
  .profile .avter-box{
    border: none;
  }
}
.profile-content{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (max-width : 768px){
  .profile-content{
    flex-direction: column;
  }
}
.profile .avter-box .image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.profile .profile-content img{
  width: 70px;
  height: 70px;
  border-radius: 505;
  -webkit-border-radius: 505;
  -moz-border-radius: 505;
  -ms-border-radius: 505;
  -o-border-radius: 505;
}
@media(max-width : 768px){
  .profile .profile-content .avter-box  img{
    margin: 0 auto;
    width: 70px;
    height: 70px;
  }
}
.profile .profile-content .avter-box h2{
   margin: 0;
}
.profile .profile-content h3{
  margin: 10px 0px 20px 0;
  font-size: 25px;
  font-weight: normal;
  color: var(--grey-color);
}
.profile .profile-content .avter-box  span:first-of-type{
  position: relative;
  display: block;
  height: 5px;
  width: 150px;
  background-color:#ddd;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.profile .profile-content  .avter-box  span:first-of-type::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: var(--main-color);
}
@media(max-width : 768px){
  .profile .profile-content .avter-box  h2{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
  }
  .profile .profile-content .avter-box  h3{
  font-size: 20px;
  margin: 10px 0px 10px 0;

  }
  .profile .profile-content .avter-box  span:first-of-type{
    height: 3px;
    width: 100px;
    margin-bottom: 10px;
  }
  .profile .profile-content .avter-box  span:first-of-type::before{
    width: 60px;
    height: 3px;
  }
}
.profile .profile-content i{
  color: var(--orang-color);
  margin-bottom: 20px;
}
@media(max-width : 768px){
  .profile .profile-content i{
    margin-bottom: 10;
    font-size: 10px;
  }
}
.profile .profile-content span:last-of-type{
  color: var(--grey-color);
}
@media (max-width :768px){
  .profile .profile-content span:last-of-type{
    font-size: 14px;
  }
}

.porfile-details .box{
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.porfile-details .box:hover{
  background-color: #f9f9f9;
}
.porfile-details .box h4{
  width: 100%;
  font-size: 14px;
  color: var(--grey-color);
}
.porfile-details .box > div {
  min-width: 200px;
  padding: 10px;
}
.profile .last-side{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
@media(max-width : 768px){
  .profile .last-side{
    flex-direction: column;
  }
}
.profile .last-side .skills{
  background-color: white;
  padding: 20px;
  flex-grow: 1;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media(max-width : 768px){
  .profile .last-side .skills{
    margin-top: 10px;
  }
}
.profile .last-side .skills h3{
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.profile .last-side .skills p{
  margin: 20px 0 30px 0;
  color: var(--grey-color);
}
.profile .last-side .skills div{
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.profile .last-side .skills div:last-of-type{
  border: none;
}
.profile .last-side .skills div span{
     margin-right: 20px;
    background-color: #eee;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
}
.profile .last-side .skills div span:hover{
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: 1px solid white;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.profile .last-side .activities{
  margin-top: 20px;
  background-color: white;
  flex-grow: 2;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.profile .activities .box{
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.profile .activities .box:last-of-type{
  border: none;
}
.profile .activities .box  img{
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile .activities .box .info h4{
  margin: 0;
}
.profile .activities .box .info p{
   color: var(--grey-color);
}
.profile .activities .box .details{
  display: block;
  margin-left: auto;
  text-align: right;
}
.profile .activities .box .details span:first-of-type{
  display: block;
  margin-bottom: 5px;
}
.profile .activities .box .details span:last-of-type{
  color: var(--grey-color);
}

/****************************************************  End profile  Page********************************* */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/****************************************************Start Projects Page************************************** */
.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media(max-width : 768px){
  .projects{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.projects .box{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.projects .box .titel{
  display: flex;
  justify-content: space-between;
}
.projects .box .titel h3{
  font-weight: normal;
}
.projects .box .titel p{
  margin: 0;
  color: var(--grey-color);
}
.projects .box p{
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--grey-color);
}
.projects .box .images{
  padding-bottom: 30px;
  border-bottom: 1px solid #eee ;
}
.projects .box img{
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.projects .box img:not(:first-child){
  margin-left: -15px;
}
.projects .box img:hover{
  z-index: 4;
}
.projects .box ul{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  border-bottom: 1px solid #eee;
}
.projects .box ul li{
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
  margin: 5px;
}
.projects .box .last{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.projects .box .last div {
  position: relative;
  height: 8px;
  width: 260px;
  background-color: #eee;
  border-radius: 4px;
}
.projects .box .last div span {
  content: '';
  position: absolute;
  height: 8px;
  border-radius: 6px;
}
.projects .box .last p{
 color: var(--grey-color);
}
@media(max-width : 768px){
  .projects .box ul{
    flex-direction: column;
  }
  .projects .box ul li {
    width: fit-content;
  }
  .projects .box .last{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects .box .last p {
    margin-top: 20px;
  }
}

/****************************************************  End projects  Page********************************* */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/****************************************************Start Courses Page************************************** */
.courses{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media(max-width : 768px){
  .courses{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.courses .box{
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.courses .box img{
  width: 100%;
}
.courses .box .info {
  padding: 10px;
  border: 1px solid #eee;
}
.courses .box .info h3{
  margin: 30px 10px;
}
.courses .box .info p{
  line-height: 1.8;
  color: var(--grey-color);
  margin-bottom: 30px;
}
.courses .box .info span{
  position: relative;
   display: block;
   width: fit-content;
   margin: auto;
  font-size: 16px;
  background-color: var(--main-color);
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.courses .box .details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--grey-color);
}
.courses .box .details i{
  margin-right: 2px ;
}

/****************************************************  End Projects  Page********************************* */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/****************************************************Start friends Page************************************** */
.friends{
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
  gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
@media(max-width : 768px){
  .friends{
    gap: 10;
    margin-left: 10px;
    margin-right: 10px;
  grid-template-columns: minmax(200px,1fr);
  }
}
.friends .box{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.friends .box .icons i{
  padding: 10px;
  border-radius: 50%;
  font-size: 13px;
  cursor: pointer;
  background-color: #eee;
  text-align: center;
  color: #666;
}
.friends .box .icons i:hover{
  background-color: var(--main-color);
  color: white;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.friends .box .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.friends .box .images img{
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.friends .box .images h3{
  margin-bottom: 10px;
  margin-top: 0;
}
.friends .box .images p {
  margin: 0;
  color: var(--grey-color);
  font-size: 14px;
}
.friends .box .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.friends .box .info .details{
  padding: 10px;
}
.friends .box .info .details div{
  margin-bottom: 10px;
}
.friends .box .info .details i{
  font-size: 14px;
}
.friends .box .info .details span{
  font-size: 14px;
}
.friends .box .info h1{
  opacity: 0.2;
  color: var(--orang-color);
  font-size: 40px;
  text-align: right;
}
.friends .box .content{
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
}
.friends .box .content p{
  color: var(--grey-color);
}
.friends .box .content a{
  margin-right: 5px;
  padding: 0px 10px;
  color: white;
  border-radius: 6px;
}

/****************************************************  End friends  Page********************************* */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/****************************************************Start File Page************************************** */
.file-page{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media(max-width : 768px){
  .file-page{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.file-page .box{
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.file-page .box i{
  display: block;
  margin-bottom: 10px;
  color: var(--grey-color);
}
.file-page .box .image{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.file-page .box img{
  width: 65px;
  height: 65px;
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}
.file-page .box:hover img{
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.file-page .box p{
  font-size: 12px;
  color: var(--grey-color);
  margin-top: 30px;
  border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.file-page .box .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--grey-color);
}

/****************************************************  End File  Page********************************* */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/*********************************************************************************************************** */
/****************************************************Start plan Page************************************** */

.plan-page{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media(max-width : 768px){
  .plan-page{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.plan-page .box{
  background-color: white;
  padding: 20px;
  border-radius:6px ;
  -webkit-border-radius:6px ;
  -moz-border-radius:6px ;
  -ms-border-radius:6px ;
  -o-border-radius:6px ;
}
.plan-page .box .header{
  width: 100%;
  background-color: var(--grenn-color);
  border: 3px solid white;
  outline: 3px solid var(--grenn-color);
  text-align: center;
  color: white;
  font-size: 30px;
}
.plan-page .box.blue .header{
  outline: 3px solid var(--main-color);
  background-color: var(--main-color)
}
.plan-page .box.orange .header{
  outline: 3px solid var(--orang-color);
  background-color: var(--orang-color)
}
.plan-page .box .header div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}
.plan-page .box .header div h3 {
  margin: 0;
  font-weight: normal;
}
.plan-page .box .header div span {
  margin-top: 10px;
  font-size: 40px;
}
.plan-page .box ul{
  margin-top: 30px;
}
.plan-page .box ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.plan-page .box ul li div i{
  color: var(--grenn-color);
}
.plan-page .box ul li i:last-child{
  border-radius: 50%;
  background-color: white;
  color: var(--grey-color);
}
.plan-page .box a{
  display: block;
  margin-top: 20px;
  padding: 4px 10px;
  color: white;
  background-color: var(--grenn-color);
  width: fit-content;
  border-radius: 6px;
}
.plan-page .box.blue a{
  background-color: var(--main-color);
}
.plan-page .box.orange .Premium   {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--grey-color);
}
